.navbar{
    background-color: white;

    display: flex;
    justify-content: flex-end;

    /* padding: 20px; */
    margin: 0;
    padding: 20px 10px;
    border-bottom: 2px solid rgb(196, 196, 196);
}

.login{
    text-decoration: none;
    color: white;
    margin-right: 50px;

    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: black;

    transition: all ease .5s;
    
}

.login h3{
    font-weight: 400;
}

.login:hover{
    background-color: rgb(83, 83, 83);
    border: 2px solid rgb(83, 83, 83) ;
}